body {
	color: #000000;	
}

@media (min-width: 991px) {
	.container {
		width: 880.5px;
	}
}

.row.no-pad {
	margin-right: 0;
	margin-left: 0;
}

.row.no-pad>[class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

[class*='justify-content-center'] {
	display: flex;
	justify-content: center;
}

/* Block n°1 */

#section-abo {
	height: 322.5px;
	background: url("../img/fleur_saison.png");
	background-size: cover;
	background-position: right;
}

@media (max-width: 991px) {
	#section-abo {
		background-position: unset;
	}
}

#section-abo-row {
	height: 100%; 
	position: relative;
}

#abo-row {
	top: 50%;
	position: relative;
	transform: translateY(-50%);
}

#abo-row div {
	text-align: center;
}

#abo-text-1 {
	font-family: "Gotham-bold";
	font-size: 26.5px;
}

@media (max-width: 991px) {
	#abo-text-1 {
		font-size: 20.5px;
	}
}

@media (max-width: 575px) {
	#abo-text-1 {
		font-size: 15px;
	}
}

#abo-text-2 {
	font-family: "Gotham-book";
	font-size: 22px;
}

@media (max-width: 991px) {
	#abo-text-2 {
		font-size: 18px;
	}
}

@media (max-width: 575px) {
	#abo-text-2 {
		font-size: 12.5px;
	}
}

#abo-btn-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
}

@media (max-width: 767px) {
	#abo-btn-container {
		flex-direction: column;
	}
}

.abo-custom-btn {
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	height: 38px;
	width: 172px;
	font-family: "Gotham-medium";
	font-size: 15px;
	position: relative;
	letter-spacing: 1px;
}

@media (max-width: 991px) {
	.abo-custom-btn {
		font-size: 15px;
	}
}

@media (max-width: 767px) {
	.abo-custom-btn {
		left: 50%;
		transform: translateX(-50%);
	}
}

@media (max-width: 575px) {
	.abo-custom-btn {
		font-size: 13px;
	}
}

#abo-btn {
	background-color: #feaf86;
	font-weight: bold;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

#abo-btn:hover {
  background-color: white;
  color: #feaf86;
  border: 3px solid #feaf86;
}

#offre-btn {
	margin-left: 25px;
	background-color: #ffd3be;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

@media (max-width: 767px) {
	#offre-btn {
		margin-left: unset;
		margin-top: 20px;
	}
}

#offre-btn:hover {
  background-color: white;
  color: #ffd3be;
  border: 3px solid #ffd3be;
}

#abo-left-block {
	height: 100%;
}

/* Block n°2 */

#desc-1 {
	height: 90px;
	text-align: center;
	padding-top: 25px;
}

@media (max-width: 575px) {
	#desc-1 {
		padding-top: 25px;
	}
}

.box-gotham-txt {
	font-family: 'Gotham-bold';
	word-spacing: 10px;
	font-size: 22.16px;
	letter-spacing: 1px;
}

@media (max-width: 767px) {
	.box-gotham-txt {
		font-size: 20px;
	}
}

@media (max-width: 575px) {
	.box-gotham-txt {
		font-size: 15px;
	}
}

.box-pen-txt {
	font-family: 'Ball-Pen';
	font-size: 44.16px;
	margin-left: 10px;
}

@media (max-width: 767px) {
	.box-pen-txt {
		font-size: 36px;
	}
}

@media (max-width: 575px) {
	.box-pen-txt {
		display: block;
		font-size: 30px;
	}
}

#desc-2 {
	padding-top: 35px;
	padding-bottom: 26px;
	text-align: center;
	font-size: 12px;
	text-decoration: underline;
	font-family: "Gotham-medium";
	letter-spacing: 1px;
}

@media (max-width: 767px) {
	#desc-2 {
		font-size: 13px;
	}
}

@media (max-width: 575px) {
	#desc-2 {
		font-size: 11px;
	}
}

@media (max-width: 991px) {
	.step-container {
		width: 276.667px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}

#step-div-1 {
	padding-right: 5px;
	padding-left: 25px;
}

#step-div-3 {
	padding-left: 5px;
	padding-right: 25px;
}

@media (max-width: 991px) {
	#step-div-1 {
		padding-right: 15px;
		padding-left: 15px;
		/*width: 293.5px;*/
	}

	#step-div-2 {
		/*width: 293.5px;*/
	}
	
	#step-div-3 {
		padding-left: 15px;
		padding-right: 15px;
		/*width: 293.5px;*/
	}
}

.step-div {
	height: 408.5px;
}

@media (max-width: 991px) {
	.step-div {
		margin-top: 20px;
		/*height: 460px;*/
	}
}

.step-img-container {
	height: 62.3%;
	overflow-y: hidden;
}

.step-img-container img {
	width: 100%;
	height: 100%;
}

.step-desc {
	height: 37.7%;
	background-color: #ffe7d5;
	text-align: center;
	width: 100%;
}

.step-circle-container {
	height: 25%;
}

.step-cirle {
	width: 20px;
	height: 20px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	border: 1px solid #acacac;
	border-radius: 50%;
	line-height: 18px;
	font-size: 13px;
	font-family: "Gotham-medium";
	
}

.step-title {
	font-family: "Gotham-bold";
	font-size: 14px;
	line-height: 22px;
	height: 30%;
	letter-spacing: 1px;
	height: 30%;
}

.step-txt {
	font-family: "Gotham-book";
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	height: 45%;
}

@media (max-width: 991px) {
	.step-txt {
		font-size: 11px;
	}
}

/* Bloc N°3 */

.obc-col {
	padding-right: 25px;
	padding-left: 25px;
}

@media (max-width: 991px) {
	.obc-col {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.or-btn-container-row {
	margin-top: 43px;
	margin-bottom: 43px;
}

.or-btn-container {
	height: 92px;
}

.or-light {
   border: 3px solid #ffd3be;
}

.or-dark {
  border: 3px solid #feaf86;
}

.obc-text-up {
	width: 100%;
	height: 46px;
	text-align: center;
	line-height: 46px;
	font-family: "Gotham-bold";
	font-size: 25px;
}

@media (max-width: 767px) {
	.obc-text-up {
		font-size: 23px;
	}
}

@media (max-width: 575px) {
	.obc-text-up {
		font-size: 15px;
	}
}

.obc-text-down {
	width: 100%;
	height: 46px;
	text-align: center;
	font-family: "Gotham-book";
	font-size: 15px;
	letter-spacing: 1px
}

@media (max-width: 767px) {
	.obc-text-down {
		font-size: 13px;
	}
}

@media (max-width: 575px) {
	.obc-text-down {
		font-size: 9px;
	}
}

.obc-btn {

	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	height: 38px;
	width: 172px;
	font-family: "Gotham-medium";
	font-size: 15px;
	position: absolute;
	bottom: -19px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	letter-spacing: 1px;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

@media (max-width: 767px) {
	.obc-btn {
		height: 40px;
		bottom: -20px;
		font-size: 15px;
	}
}

@media (max-width: 575px) {
	.obc-btn {
		font-size: 13px;
	}
}

.obc-btn:hover {
  background-color: white;
}

.obc-dark {
	background-color: #feaf86;
}

.obc-dark:hover {
  border: 3px solid #feaf86;
  color: #feaf86;
}

.obc-light {
  background-color: #ffd3be;
}

.obc-light:hover {
  border: 3px solid #ffd3be;
  color: #ffd3be;
}


/* Bloc n°4 */

.middle-container {
	height: 322.5px;
}

#fleurs-saison {
  color: white;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

#fleurs-saison-row {
	height: 100%;
}

#fs-carousel {
	height: 100%;
}

#fs-carousel-inner {
	height: 100%;
}

.fs-img {
  height: 100%;
  width: 100%;
  
}

#fs-img-1 {
  background: url("../img/fs_carr_1.png");
  background-size: 100% 100%;
}

@media (max-width: 1199px) {
	#fs-img-1 {
		background-position: right;
	}
}

#fs-img-2 {
  background: url("../img/fs_carr_2.png");
  background-size: cover;
}

@media (max-width: 1199px) {
	#fs-img-2 {
		background-position: right;
	}
}

#fs-img-3 {
  background: url("../img/fs_carr_3.png");
  background-size: cover;
}

@media (max-width: 1199px) {
	#fs-img-3 {
		background-position: right;
	}
}

#fs-img-4 {
  background: url("../img/fs_carr_4.png");
  background-size: cover;
}

@media (max-width: 1199px) {
	#fs-img-4 {
		background-position: right;
	}
}

#fs-img-5 {
  background: url("../img/fs_carr_5.png");
  background-size: cover;
}

@media (max-width: 1199px) {
	#fs-img-5 {
		background-position: right;
	}
}

#fs-img-6 {
  background: url("../img/fs_carr_6.png");
  background-size: cover;
}

@media (max-width: 1199px) {
	#fs-img-6 {
		background-position: right;
	}
}

#fs-img-7 {
  background: url("../img/fs_carr_7.png");
  background-size: cover;
}

@media (max-width: 1199px) {
	#fs-img-7 {
		background-position: right;
	}
}

#fs-img-8 {
  background: url("../img/fs_carr_8.png");
  background-size: cover;
}

@media (max-width: 1199px) {
	#fs-img-8 {
		background-position: right;
	}
}

#fs-txt-row {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.middle-container-content {
	height: 100%;
}

.middle-container-row {
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	text-align: center;
}

.mc-span-1 {
	font-family: "Gotham-bold";
	font-size: 22.16px;
	word-spacing: 5px;
	letter-spacing: 2px;
}

@media (max-width: 1199px) {
	.mc-span-1 {
		font-size: 20px;
	}
}

@media (max-width: 991px) {
	.mc-span-1 {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	.mc-span-1 {
		font-size: 20px;
	}
}

@media (max-width: 575px) {
	.mc-span-1 {
		font-size: 15px;
	}

	.mc-span-1:after {
		content:"\a";
    	white-space: pre
	}
}

.mc-span-2 {
	font-family: "Ball-Pen";
	font-size: 44.16px;
	margin-left: 20px;
}

@media (max-width: 1199px) {
	.mc-span-2 {
		font-size: 40px;
	}
}

@media (max-width: 991px) {
	.mc-span-2 {
		font-size: 32px;
	}
}

@media (max-width: 767px) {
	.mc-span-2 {
		font-size: 36px;
	}
}

@media (max-width: 575px) {
	.mc-span-2 {
		font-size: 30px;
	}
}

.mc-span-3 {
	font-family: "Gotham-bold";
	font-size: 13px;
	letter-spacing: 1px;
}

@media (max-width: 1199px) {
	.mc-span-3 {
		font-size: 10px;
	}
}

.mc-span-4 {
	font-family: "Gotham-book";
	font-size: 13px;
	letter-spacing: 1px;
}

@media (max-width: 1199px) {
	.mc-span-4 {
		font-size: 10px;
	}
}

#decouvrir-btn-container {
	margin-top: 50px;
}

#decouvrir-btn {
	width: 220px;
	padding-left: 0;
	padding-right: 0;
	border: 1px solid white;
	height: 30px;
	font-family: "Gotham-medium";
	background-color: transparent;
	color: white;
	font-size: 11.5px;
	letter-spacing: 1px;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

@media (max-width: 767px) {
	#decouvrir-btn {
		font-size: 12px;
	}
}

#decouvrir-btn:hover {
  background-color: white;
  color: black
}


/* BLOC n°5 */

#conception-artisanale {
	margin-top: 43px;
}

#artisanale-left {
	height: 333px;
	background: url("../img/artisanale.png");
	background-size: 100% 100%;
}

@media (max-width: 991px) {
	#artisanale-left {
		height: 300px;
	}
}

@media (max-width: 575px) {
	#artisanale-left {
		height: 270px;
	}
}

#artisanale-right {
	height: 333px;
	background-color: #ffae85;
}

@media (max-width: 991px) {
	#artisanale-right {
		height: 300px;
	}
}

@media (max-width: 575px) {
	#artisanale-right {
		height: 270px;
	}
}

#arr-row {
	height: 100%;
}

#arr-txt-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

#arr-middle-txt {
	margin-top: 15px;
	margin-bottom: 20px;
	letter-spacing: 1px;
}


#artisanale-img {
	width: 36.5px;
	height: 37.5px;
}

@media (max-width: 991px) {
	#artisanale-img {
		width: 40px;
		height: 40px;
	}
}

#a-span-1 {
	font-family: "Gotham-bold";
	letter-spacing: 1px;
	font-size: 14px;
}

@media (max-width: 991px) {
	#a-span-1 {
		font-size: 12px;
	}
}

@media (max-width: 575px) {
	#a-span-1 {
		font-size: 10px;
	}
}

#a-span-2 {
	font-family: "Ball-Pen";
	font-size: 44.16px;
}

@media (max-width: 991px) {
	#a-span-2 {
		font-size: 45px;
	}
}

@media (max-width: 575px) {
	#a-span-2 {
		font-size: 40px;
	}
}


/* Bloc n°7 */

#fleurissons-france {
	background: url("../img/fleurissons_france.png");
	background-size: 100% 100%;
	color: black;
}

@media (max-width: 1199px) {
	#fleurissons-france {
		background-position: right;
		background-size: cover;
	}
}

#fleurissons-france-row {
	height: 100%;
}


/* BLOC n°8 Pense_tout */

#pense_tout_title {
	padding-top: 20px;
	padding-bottom: 25px;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: "Gotham-medium";
}

@media (max-width: 575px) {
	#pense_tout_title {
		font-size: 11px;
	}
}

#pense_tout_title span {
	text-decoration: underline;
	font-family: "Gotham-medium";
}

.pt-div {
	height: 50px;
	display: flex;
	flex-direction: row;
}

@media (max-width: 991px) {
	.pt-div {
		justify-content: center;
		margin-top: 30px;
	}
}


.pt-img img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 36px;
}

@media (max-width: 991px) {
	.pt-img img {
		font-size: 11px;
		margin-left: 0;
	}
}

.pt-img-1 img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 26px;
}

@media (max-width: 991px) {
	.pt-img-1 img {
		font-size: 11px;
		margin-left: 0;
	}
}

.pt-txt {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 8px;
	font-size: 10px;
}

@media (max-width: 1199px) {
	.pt-txt {
		font-size: 9px;
	}
}

@media (max-width: 991px) {
	.pt-txt {
		font-size: 11px;
	}
}

@media (max-width: 767px) {
	.pt-txt {
		font-size: 9px;
	}
}

.pt-span-1 {
	font-family: "Gotham-bold";
}

.pt-span-2 {
	font-family: "Gotham-book";
}


/* BLOC n°9 */

#parle-container {
	margin-top: 45px;
}

.parle-img {
	height: 311.5px;
	width: 312px;
	float:left;
}

@media (max-width: 767px) {
	.parle-img {
		float: none;
		width: 320px;
		left: 50%;
		transform: translateX(-50%);
		position: relative;
	}
}

@media (max-width: 575px) {
	.parle-img {
		width: 250px;
		height: 270px;
	}
}

#parle-img-1 {
  height: 100%;
  width: 100%;
  background: url("../img/avis_img_1.png");
	background-size: 100% 100%;
}

#parle-img-2 {
  height: 100%;
  width: 100%;
  background: url("../img/avis_img_2.png");
	background-size: 100% 100%;
}

#parle-img-3 {
  height: 100%;
  width: 100%;
  background: url("../img/avis_img_3.png");
	background-size: 100% 100%;
}

#parle-img-4 {
  height: 100%;
  width: 100%;
  background: url("../img/avis_img_4.png");
	background-size: 100% 100%;
}

#parle-img-5 {
  height: 100%;
  width: 100%;
  background: url("../img/avis_img_5.png");
	background-size: 100% 100%;
}

#parle-img-6 {
  height: 100%;
  width: 100%;
  background: url("../img/avis_img_6.png");
	background-size: 100% 100%;
}

#parle-img-7 {
  height: 100%;
  width: 100%;
  background: url("../img/avis_img_7.png");
	background-size: 100% 100%;
}

#parle-img-8 {
  height: 100%;
  width: 100%;
  background: url("../img/avis_img_8.png");
	background-size: 100% 100%;
}

#parle-img-9 {
  height: 100%;
  width: 100%;
  background: url("../img/avis_img_9.png");
	background-size: 100% 100%;
}

#parle-img-10 {
  height: 100%;
  width: 100%;
  background: url("../img/avis_img_10.png");
	background-size: 100% 100%;
}

#parle-img-11 {
  height: 100%;
  width: 100%;
  background: url("../img/avis_img_11.png");
	background-size: 100% 100%;
}

.parle-txt-container {
	height: 311.5px;
	width: calc(100% - 312px);
	background-color: #ffe7d5;
	float: right;
}

@media (max-width: 767px) {
	.parle-txt-container {
		float: none;
		width: 320px;
		left: 50%;
		transform: translateX(-50%);
		position: relative;
	}
}

@media (max-width: 575px) {
	.parle-txt-container {
		width: 250px;
		height: 270px;
	}
}

.parle-txt {
	text-align: center;
	position: relative;
	height: 100%;
}

.parle-txt-title {
	margin-top: 22px;
}

@media (max-width: 767px) {
	.parle-txt-title {
		margin-top: 12px;
	}
}


.parle-txt-content {
	height: calc(100% - 165.1px);
}

@media (max-width: 991px) {
	.parle-txt-content {
		height: calc(100% - 129.7167px);
	}
}

@media (max-width: 767px) {
	.parle-txt-content {
		height: calc(100% - 149.7167px);
	}
}

.parle-txt-content div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.p-span-1 {
	font-family: "Gotham-bold";
	font-size: 14px;
	letter-spacing: 1px;
}

@media (max-width: 1199px) {
	.p-span-1 {
		font-size: 15px;
	}
}

@media (max-width: 991px) {
	.p-span-1 {
		font-size: 12px;
	}
}

@media (max-width: 575px) {
	.p-span-1 {
		font-size: 10px;
	}
}

.p-span-2 {
	font-family: "Ball-Pen";
	font-size: 44.16px;
}

@media (max-width: 1199px) {
	.p-span-2 {
		font-size: 40px;
	}
}

@media (max-width: 991px) {
	.p-span-2 {
		font-size: 25px;
	}
}

@media (max-width: 575px) {
	.p-span-2 {
		font-size: 20px;
	}
}

.p-span-3 {
	font-family: "Gotham-book";
	font-size: 13.7px;
	letter-spacing: 1px;
}

@media (max-width: 1199px) {
	.p-span-3 {
		font-size: 12px;
	}
}

@media (max-width: 991px) {
	.p-span-3 {
		font-size: 11px;
	}
}

@media (max-width: 767px) {
	.p-span-3 {
		font-size: 8px;
	}
}


@media (max-width: 575px) {
	.p-span-3 {
		font-size: 6px;
	}
}

.p-span-4 {
font-family: "Gotham-bold";
  font-size: 11.575px;
  line-height: 35px;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
	.p-span-4 {
		font-size: 13px;
	}
}

@media (max-width: 991px) {
	.p-span-4 {
		font-size: 9px;
	}
}

@media (max-width: 575px) {
	.p-span-4 {
    font-size: 8px;
    line-height: 25px;
	}
}

.parle-btn-col {
	position: absolute;
	bottom: 22px;
}

@media (max-width: 767px) {
	.parle-btn-col {
		bottom: 12px;
	}
}

.parle-btn {
	width: 100%;
}

@media (max-width: 767px) {
	.parle-btn {
		flex-direction: column;
	}
}

.parle-btn .has-margin {
	margin-left: 25px;
}

@media (max-width: 767px) {
	.parle-btn .has-margin {
		margin-left: unset;
		margin-top: 10px;
	}
}

.btn-parle {
	background-color: #ffe7d5;
	border: 1px solid black !important;
	font-family: "Gotham-medium";
	font-size: 15px;
	letter-spacing: 2px;
	height: 40px;
	width: 150px;

	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

@media (max-width: 1199px) {
	.btn-parle {
		font-size: 15px;
	}
}

@media (max-width: 991px) {
	.btn-parle {
		padding-left: 10px;
		padding-right: 10px;
		height: 30px;
		font-size: 11px;
	}
}

@media (max-width: 767px) {
	.btn-parle {
		width: 80%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media (max-width: 575px) {
	.btn-parle {
		font-size: 9px;
	}
}

.btn-parle:hover {
  background-color: white;
  color: #ffe7d5;
  border: 1px solid white !important;
}


/* INSTA BLOCK */

#insta-block {
	text-align: center;
	margin-top: 76px;
}

#insta-span-container {
	height: 25px;
	line-height: 25px;
}

@media (max-width: 575px) {
	#insta-span-container {
		margin-top: 10px;
	}
}

#insta-span-1 {
	font-family: "Gotham-medium";
	letter-spacing: 1px;
	font-size: 12px;
}

@media (max-width: 575px) {
	#insta-span-1 {
		font-size: 12px;
	}
}

#insta-list {
  height: 215px;
  overflow-x: hidden;
  background: url('../img/insta-div.png');
  background-size: cover;
}

#padding-block {
	height: 250px;
}