@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss';

header {
    height: 160px;
    background-color: white;
    padding-top: 5px;

    @include media-breakpoint-down(sm) {
        height: 250px;
    }
}

#top-bar {
    height: 25%;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include media-breakpoint-down(sm) {
        justify-content: flex-end;
    }
}

#middle-bar {
    height: 75%;
    position: relative;
    padding-top: 10px;
    font-family: "Gotham-medium";

    @include media-breakpoint-down(md) {
        padding-top: 30px;
    }
}

#media-container {
    height: 100%;
    width: 140px;
    padding-left: 20px;

    @include media-breakpoint-down(sm) {
        padding-left: unset;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 10px;
        top: 0px;
    }
}

#media-container .has-margin {

    margin-left: 20px;

    @include media-breakpoint-down(sm) {
        margin-left: unset;
        margin-top: 8px;
    }
}

#signin-container {
    height: 100%;
    width: 370px;
    font-size: 12px;
    color: #acacac;
    font-family: "Gotham-book";

    @include media-breakpoint-down(sm) {
        width: 200px;
    }
}

#signin-container .sg-end-align {
    text-align: center;

    @include media-breakpoint-down(sm) {
        text-align: end;
    }
}

#cadeau-div {
    width: 200px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #acacac;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;

    @include media-breakpoint-down(sm) {
        display: none;
    }
}

nav li {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    width: 100px;

    @include media-breakpoint-down(md) {
        font-size: 12px;
        width: 80px;
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }

}

#middle-bar .has-margin {
    margin-left: 80px;

    @include media-breakpoint-down(lg) {
        margin-left: 20px;
    }

    @include media-breakpoint-down(md) {
        margin-left: 10px;
    }
}

#li-middle-gap {
    margin-left: 200px;

    @include media-breakpoint-down(md) {
        margin-left: 160px;
    }
}

#top-img-container {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%);
    height: 125px;
    width: 125px;
    background: url('../img/logo_stamp_mm.png');
    background-size: 125px 125px;

    @include media-breakpoint-down(md) {
        top: -20px;
    }

    @include media-breakpoint-down(sm) {
        top: unset;
        bottom: 20px;
    }
}

#menu-dropdown {
    position: absolute;
    bottom: 20px;
    right: 15px;
    height: 50px;
    width: 50px;
    background-color: darkolivegreen;
    display: none;

    @include media-breakpoint-down(sm) {
        display: block;
    }
}

#section-abo {
    height: 400px;
    background: url("../img/fleur_saison.png");
    background-size: cover;
    background-position: right;

    @include media-breakpoint-down(md) {
        background-position: unset;
    }
}

#abo-row {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

#abo-row div {
    text-align: center;
}

#section-abo span {
    line-height: 40px;
    font-size: 28px;

    @include media-breakpoint-down(lg) {
        font-size: 25px;
    }

    @include media-breakpoint-down(md) {
        font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 15px;
    }
}

#abo-text-1 {
    font-family: "Gotham-bold";
}

#abo-text-2 {
    font-family: "Gotham-book";
}

#abo-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }
}

.abo-custom-btn {
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    height: 50px;
    width: 200px;
    font-family: "Gotham-medium";
    font-size: 18px;
    position: relative;

    @include media-breakpoint-down(md) {
        font-size: 15px;
    }

    @include media-breakpoint-down(sm) {
        left: 50%;
        transform: translateX(-50%);
    }
}

#abo-btn {
    background-color : rgb(254, 175, 134);
    font-weight: bold;
}

#offre-btn {
    margin-left: 20px;
    background-color : rgb(255, 211, 190);

    @include media-breakpoint-down(sm) {
      margin-left: unset;
      margin-top: 20px;
    }
}

#abo-left-block {
    height: 100%;
}

#desc-1 {
    height: 100px;
    background-color: white;
    text-align: center;
    padding-top: 40px;

    @include media-breakpoint-down(xs) {
        padding-top: 25px;
    }
}

#box-fleur-txt {
    font-family: 'Gotham-bold';
    word-spacing: 10px;
    font-size: 24px;

    @include media-breakpoint-down(sm) {
        font-size: 20px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 15px;
    }
}

#box-bonheur-txt {
    font-family: 'Ball-Pen';
    font-size: 40px;
    margin-left: 10px;

    @include media-breakpoint-down(sm) {
        font-size: 36px;
    }

    @include media-breakpoint-down(xs) {
        display: block;
        font-size: 30px;
    }
}

#desc-2 {
    height: 50px;
    background-color: white;
    line-height: 50px;
    text-align: center;
    font-size: 13px;
    text-decoration: underline;
    font-family: "Gotham-medium";
}

#step-container {
    display: flex;
    justify-content: center;
    flex-direction: row;

    @include media-breakpoint-down(md) {
        flex-direction: column;
        justify-content: center;
    }
}

.step-div {
    height: 460px;
    width: 320px;

    @include media-breakpoint-down(lg) {
        width: 250px;
        height: 360px;
    }

    @include media-breakpoint-down(md) {
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        width: 320px;
        height: 460px;
    }

    @include media-breakpoint-down(xs) {
        width: 250px;
        height: 360px;
    }
}

#step-container .has-margin {
    margin-left: 20px;

    @include media-breakpoint-down(md) {
        margin-left: auto;
    }
}

.step-img-container {
    height: 65%;
}

#sic-1 {
    background: url('../img/step_1.png');
    background-size: cover;
}

#sic-2 {
    background: url('../img/step_2.png');
    background-size: cover;
}

#sic-3 {
    background: url('../img/step_3.png');
    background-size: cover;
}

.step-desc {
    height: 35%;
    background-color: #ffe7d5;
    text-align: center;
}

.step-cirle {
    width: 25px;
    height: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    border: 1px solid #acacac;
    border-radius: 50%;
    line-height: 20px;
}

.step-title {
    font-family: "Gotham-bold";
    font-size: 19px;
    line-height: 22px;

    @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 16px;
    }

    @include media-breakpoint-down(md) {
        font-size: 19px;
        line-height: 22px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 16px;
        line-height: 16px;
    }
}

.step-txt {
    font-family: "Gotham-book";
    font-size: 13px;
    line-height: 18px;

    @include media-breakpoint-down(lg) {
        font-size: 11px;
        line-height: 15px;
    }

    @include media-breakpoint-down(md) {
        font-size: 13px;
        line-height: 18px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 11px;
        line-height: 15px;
    }
}

.or-btn-container {
    width: 1000px;
    height: 115px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    border: 3px solid #f19f75;

    @include media-breakpoint-down(lg) {
        width: 790px;
    }

    @include media-breakpoint-down(md) {
        width: 80%;
    }

    @include media-breakpoint-down(xs) {
        min-width: 250px;
    }

}

.obc-text-up {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Gotham-bold";
    font-size: 28px;

    @include media-breakpoint-down(sm) {
        font-size: 23px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 16px;
    }
}

.obc-text-down {
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: "Gotham-book";
    font-size: 18px;

    @include media-breakpoint-down(sm) {
        font-size: 13px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 10px;
    }
}

.obc-btn {
    background-color : rgb(254, 175, 134);
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    height: 50px;
    width: 200px;
    font-family: "Gotham-medium";
    font-size: 18px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index:1;

    @include media-breakpoint-down(sm) {
        height: 40px;
        bottom: -20px;
        font-size: 15px;
    }
}


/* Bloc n°4 "fleurs saison" */

.middle-container {
    height: 400px;
}

#fleurs-saison {
    background: url('../img/fleur_saison_2.png');
    background-size: cover;
    color: white;    

    @include media-breakpoint-down(lg) {
        background-position: right;
    }
}

.middle-container-content {
    height: 100%;
}

.middle-container-row {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    text-align: center;
}

.mc-span-1 {
    font-family: "Gotham-bold";
    font-size: 24px;
    word-spacing: 5px;
    letter-spacing: 2px;

    @include media-breakpoint-down(lg) {
        font-size: 20px;
    }

    @include media-breakpoint-down(md) {
        font-size: 12px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 20px;
    }
}

.mc-span-2 {
    font-family: "Ball-Pen";
    font-size: 48px;
    margin-left: 5px;

    @include media-breakpoint-down(lg) {
        font-size: 40px;
    }

    @include media-breakpoint-down(md) {
        font-size: 32px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 40px;
    }
}

.mc-span-3 {
    font-family: "Gotham-bold";
    font-size: 14px;
    letter-spacing: 1px;

    @include media-breakpoint-down(lg) {
        font-size: 10px;
    }
}

.mc-span-4 {
    font-family: "Gotham-book";
    font-size: 14px;
    letter-spacing: 1px;

    @include media-breakpoint-down(lg) {
        font-size: 10px;
    }

}

#decouvrir-btn {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    height: 35px;
    font-family: "Gotham-medium";
    background-color: #92B0CB;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;

    @include media-breakpoint-down(sm) {
        font-size: 12px;
    }

}

/* BLOC n°5 Conception Artisanale */

#artisanale-container {
    width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down(lg) {
        width: 790px;
    }

    @include media-breakpoint-down(md) {
        width: 80%;
    }

     @include media-breakpoint-down(sm) {
         flex-direction: column;
     }

    @include media-breakpoint-down(xs) {
        min-width: 250px;
    }
}

#artisanale-left {
    height: 400px;
    width: 50%;
    background: url('../img/artisanale.png');
    background-size: 100% 100%;

    @include media-breakpoint-down(lg) {
        height: 350px;
    }

    @include media-breakpoint-down(md) {
        height: 300px;
    }

    @include media-breakpoint-down(sm) {
        width: 320px;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }

    @include media-breakpoint-down(xs) {
        width: 250px;
        height: 270px;
    }
}

#artisanale-right {
    height: 400px;
    width: 50%;
    background-color: #ffae85;

    @include media-breakpoint-down(lg) {
        height: 350px;
    }

    @include media-breakpoint-down(md) {
        height: 300px;
    }

    @include media-breakpoint-down(sm) {
        width: 320px;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }

    @include media-breakpoint-down(xs) {
        width: 250px;
        height: 270px;
    }
}

#conception-txt-container {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    text-align: center;
    color: black;
}

#artisanale-img {
    @include size(50px, 50px);

    @include media-breakpoint-down(md) {
        @include size(40px, 40px);
    }
}

#a-span-1 {
    font-family: "Gotham-bold";
    letter-spacing: 2px;
    font-size: 15px;

    @include media-breakpoint-down(md) {
        font-size: 12px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 10px;
    }
}

#a-span-2 {
    font-family: "Ball-Pen";
    font-size: 50px;

    @include media-breakpoint-down(md) {
        font-size: 45px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 40px;
    }
}

/* Bloc n°7 Fleurissons-France */

#fleurissons-france {
    background: url('../img/fleurissons_france.png');
    background-size: cover;
    color: black;

    @include media-breakpoint-down(lg) {
        background-position: right;
    }
}